body {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-family: sans-serif;
}

/* header_____________ */
.header-main {
  color: white;
  text-align: center;
  padding: 40px 0px 40px 0px;
  background-color: blue;
}
.page-header {
  margin: 0;
  border-bottom: none;
}

/* new reminder form ____________*/
.reminder-edit textarea, input {
  width: 50%;
  margin-top: 10px;
  display: block;
}

.reminder-edit input {
  margin-bottom: 10px;
}

/* footer _____________*/
.footer-main{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.today-date {
  color: grey;
}
